@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{ 
    // this c# code that will be executed

    string name = "Aidan";

    
}

<h3>@name</h3>


@{ 
    for (int i=1; i<=6; i++)
    {
        @Html.Raw($"<h{ i }>Heading { i }</h{ i }>")
    }
}
